body, html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 75px;;
    padding: 0;
    background-color: rgb(247, 244, 244);
}
body form{

    margin: 26pt;
    background-color: rgb(156, 173, 215);
    border-radius: 60px;
    padding: 60px;
    border: 30px solid rgb(0, 0, 0);
    text-align: center;
    
}
.lista-escolha-premio{
    color: #000000;
    font-weight: lighter;

    border: .1rem;
    list-style: disc;
    
}

.lista-escolha-premio li{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.lista-escolha-premio input[type="checkbox"]{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#titulo_pagina{
    text-align: center;
    color: red;
    font-size: 2rem;
    font-weight: bolder;
}
.btn_ver_premiados{
    float: right;
    font-size: 1.4rem;
    background-color: rgb(255, 131, 131);
    width: 20rem;
    height: 3rem;
    border: .5px solid rgb(255, 95, 95);
    border-radius: 30px;
}

.btn_ver_premiados:hover{
    scale: 1.1;
    transition: ease .1s;
    background-color: rgb(253, 243, 243);
    cursor: pointer;
}

.btn_voltar_index_2{
    align-items: center;
    display: flex;
    position: absolute;
    top: 50px;
    scale: 1.5;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.btn_voltar_index_2:hover{
    scale: 1.8;
}

.btn_voltar_index_2 img{
    scale: .5;
}


.formCadastro{
    
    display: flex;
    flex-direction: column;
    gap: 20px 0;


}

.basic-button {
    background-color: #2e3e3e; /* Verde */
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    .basic-button:hover {
    background-color: #7a70b2; /* Verde mais escuro */
    }